.gopng_buyroom-Ico-xj_outer {
height: 55px;
width: 53px;
overflow: hidden;
}
.gopng_buyroom-Ico-xj {
background: url(../img/ztImg/zt-brType.png) -0px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/ztImg/zt-brType.png");
}
.gopng_buyroom-Ico-hg_outer {
height: 55px;
width: 62px;
overflow: hidden;
}
.gopng_buyroom-Ico-hg {
background: url(../img/ztImg/zt-brType.png) -53px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 53px;
_margin-left: -53px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/ztImg/zt-brType.png");
}
.gopng_buyroom-Ico-cq_outer {
height: 54px;
width: 53px;
overflow: hidden;
}
.gopng_buyroom-Ico-cq {
background: url(../img/ztImg/zt-brType.png) -115px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 115px;
_margin-left: -115px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/ztImg/zt-brType.png");
}
.gopng_buyroom-Ico-sf_outer {
height: 54px;
width: 53px;
overflow: hidden;
}
.gopng_buyroom-Ico-sf {
background: url(../img/ztImg/zt-brType.png) -0px -55px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 55px;
_margin-top: -55px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/ztImg/zt-brType.png");
}
.gopng_buyroom-Ico-sh_outer {
height: 54px;
width: 53px;
overflow: hidden;
}
.gopng_buyroom-Ico-sh {
background: url(../img/ztImg/zt-brType.png) -53px -55px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 53px;
_margin-left: -53px;
_padding-top: 55px;
_margin-top: -55px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/ztImg/zt-brType.png");
}
.gopng_buyroom-Ico-wf_outer {
height: 54px;
width: 53px;
overflow: hidden;
}
.gopng_buyroom-Ico-wf {
background: url(../img/ztImg/zt-brType.png) -106px -55px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 106px;
_margin-left: -106px;
_padding-top: 55px;
_margin-top: -55px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/ztImg/zt-brType.png");
}
.gopng_buyroom-Ico-tj_outer {
height: 54px;
width: 53px;
overflow: hidden;
}
.gopng_buyroom-Ico-tj {
background: url(../img/ztImg/zt-brType.png) -0px -109px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 109px;
_margin-top: -109px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/ztImg/zt-brType.png");
}
.gopng_buyroom-Ico-js_outer {
height: 53px;
width: 53px;
overflow: hidden;
}
.gopng_buyroom-Ico-js {
background: url(../img/ztImg/zt-brType.png) -53px -109px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 53px;
_margin-left: -53px;
_padding-top: 109px;
_margin-top: -109px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/ztImg/zt-brType.png");
}
.gopng_buyroom-Ico-jx_outer {
height: 53px;
width: 53px;
overflow: hidden;
}
.gopng_buyroom-Ico-jx {
background: url(../img/ztImg/zt-brType.png) -106px -109px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 106px;
_margin-left: -106px;
_padding-top: 109px;
_margin-top: -109px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/ztImg/zt-brType.png");
}
.gopng_buyroom-Ico-fc_outer {
height: 52px;
width: 52px;
overflow: hidden;
}
.gopng_buyroom-Ico-fc {
background: url(../img/ztImg/zt-brType.png) -0px -163px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 163px;
_margin-top: -163px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/ztImg/zt-brType.png");
}
.gopng_buyroom-Ico-sd_outer {
height: 52px;
width: 53px;
overflow: hidden;
}
.gopng_buyroom-Ico-sd {
background: url(../img/ztImg/zt-brType.png) -52px -163px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 52px;
_margin-left: -52px;
_padding-top: 163px;
_margin-top: -163px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/ztImg/zt-brType.png");
}
.gopng_buyroom-Ico-gd_outer {
height: 52px;
width: 53px;
overflow: hidden;
}
.gopng_buyroom-Ico-gd {
background: url(../img/ztImg/zt-brType.png) -105px -163px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 105px;
_margin-left: -105px;
_padding-top: 163px;
_margin-top: -163px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/ztImg/zt-brType.png");
}
.gopng_buyroom-Ico-bj_outer {
height: 43px;
width: 71px;
overflow: hidden;
}
.gopng_buyroom-Ico-bj {
background: url(../img/ztImg/zt-brType.png) -0px -215px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 215px;
_margin-top: -215px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/ztImg/zt-brType.png");
}
.gopng_buyroom-Ico-tc_outer {
height: 42px;
width: 71px;
overflow: hidden;
}
.gopng_buyroom-Ico-tc {
background: url(../img/ztImg/zt-brType.png) -71px -215px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 71px;
_margin-left: -71px;
_padding-top: 215px;
_margin-top: -215px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/ztImg/zt-brType.png");
}
