.gopng_mobile_hover_outer {
height: 95px;
width: 95px;
overflow: hidden;
}
.gopng_mobile_hover {
background: url(../img/ztImg/zt-foot.png) -0px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/ztImg/zt-foot.png");
}
.gopng_wxpublic_hover_outer {
height: 95px;
width: 95px;
overflow: hidden;
}
.gopng_wxpublic_hover {
background: url(../img/ztImg/zt-foot.png) -95px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 95px;
_margin-left: -95px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/ztImg/zt-foot.png");
}
.gopng_indexNew_12_outer {
height: 38px;
width: 35px;
overflow: hidden;
}
.gopng_indexNew_12 {
background: url(../img/ztImg/zt-foot.png) -0px -95px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 95px;
_margin-top: -95px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/ztImg/zt-foot.png");
}
.gopng_indexNew_11_outer {
height: 38px;
width: 37px;
overflow: hidden;
}
.gopng_indexNew_11 {
background: url(../img/ztImg/zt-foot.png) -35px -95px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 35px;
_margin-left: -35px;
_padding-top: 95px;
_margin-top: -95px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/ztImg/zt-foot.png");
}
.gopng_indexNew_08_outer {
height: 38px;
width: 52px;
overflow: hidden;
}
.gopng_indexNew_08 {
background: url(../img/ztImg/zt-foot.png) -72px -95px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 72px;
_margin-left: -72px;
_padding-top: 95px;
_margin-top: -95px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/ztImg/zt-foot.png");
}
.gopng_indexNew_09_outer {
height: 38px;
width: 57px;
overflow: hidden;
}
.gopng_indexNew_09 {
background: url(../img/ztImg/zt-foot.png) -124px -95px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 124px;
_margin-left: -124px;
_padding-top: 95px;
_margin-top: -95px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/ztImg/zt-foot.png");
}
.gopng_indexNew_10_outer {
height: 38px;
width: 61px;
overflow: hidden;
}
.gopng_indexNew_10 {
background: url(../img/ztImg/zt-foot.png) -0px -133px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 133px;
_margin-top: -133px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/ztImg/zt-foot.png");
}
.gopng_indexNew_15_outer {
height: 38px;
width: 120px;
overflow: hidden;
}
.gopng_indexNew_15 {
background: url(../img/ztImg/zt-foot.png) -61px -133px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 61px;
_margin-left: -61px;
_padding-top: 133px;
_margin-top: -133px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/ztImg/zt-foot.png");
}
.gopng_indexNew_07_outer {
height: 38px;
width: 165px;
overflow: hidden;
}
.gopng_indexNew_07 {
background: url(../img/ztImg/zt-foot.png) -0px -171px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 171px;
_margin-top: -171px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/ztImg/zt-foot.png");
}
.gopng_indexNew_06_outer {
height: 37px;
width: 175px;
overflow: hidden;
}
.gopng_indexNew_06 {
background: url(../img/ztImg/zt-foot.png) -0px -209px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 209px;
_margin-top: -209px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/ztImg/zt-foot.png");
}
