.gopng_touzhuIco03_outer {
height: 64px;
width: 64px;
overflow: hidden;
}
.gopng_touzhuIco03 {
background: url(../img/ztImg/zt-tzType.png) -0px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/ztImg/zt-tzType.png");
}
.gopng_touzhuIco01_outer {
height: 61px;
width: 72px;
overflow: hidden;
}
.gopng_touzhuIco01 {
background: url(../img/ztImg/zt-tzType.png) -0px -64px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 64px;
_margin-top: -64px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/ztImg/zt-tzType.png");
}
.gopng_touzhuIco02_outer {
height: 60px;
width: 65px;
overflow: hidden;
}
.gopng_touzhuIco02 {
background: url(../img/ztImg/zt-tzType.png) -64px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 64px;
_margin-left: -64px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/ztImg/zt-tzType.png");
}
.gopng_touzhuIco04_outer {
height: 54px;
width: 58px;
overflow: hidden;
}
.gopng_touzhuIco04 {
background: url(../img/ztImg/zt-tzType.png) -72px -64px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 72px;
_margin-left: -72px;
_padding-top: 64px;
_margin-top: -64px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/ztImg/zt-tzType.png");
}
.gopng_touzhuIco05_outer {
height: 38px;
width: 78px;
overflow: hidden;
}
.gopng_touzhuIco05 {
background: url(../img/ztImg/zt-tzType.png) -0px -125px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 125px;
_margin-top: -125px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/ztImg/zt-tzType.png");
}
