.gopng_index_img31_outer {
height: 140px;
width: 159px;
display: block;
overflow: hidden;
margin: auto;
padding-top: 50px;
}
.gopng_index_img31 {
background: url(../img/index/indexNews1.png) -0px -0px no-repeat;
width: 100%;
height: 100%;
display:inline-block;
float:left;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/index/indexNews1.png)");
}
.gopng_index_img03_outer {
height: 135px;
width: 133px;
display: block;
overflow: hidden;
margin: auto;
padding-top: 50px;
}
.gopng_index_img03 {
background: url(../img/index/indexNews1.png) -159px -0px no-repeat;
width: 100%;
height: 100%;
display:inline-block;
float:left;
_background: none;
_padding-left: 159px;
_margin-left: -159px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/index/indexNews1.png)");
}
.gopng_index_img32_outer {
height: 125px;
width: 164px;
display: block;
overflow: hidden;
margin: auto;
padding-top: 50px;
}
.gopng_index_img32 {
background: url(../img/index/indexNews1.png) -0px -140px no-repeat;
width: 100%;
height: 100%;
display:inline-block;
float:left;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 140px;
_margin-top: -140px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/index/indexNews1.png)");
}
.gopng_index_img33_outer {
height: 124px;
width: 151px;
display: block;
overflow: hidden;
margin: auto;
padding-top: 50px;
}
.gopng_index_img33 {
background: url(../img/index/indexNews1.png) -164px -140px no-repeat;
width: 100%;
height: 100%;
display:inline-block;
float:left;
_background: none;
_padding-left: 164px;
_margin-left: -164px;
_padding-top: 140px;
_margin-top: -140px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/index/indexNews1.png)");
}
.gopng_index_img07_outer {
height: 119px;
width: 118px;
display: block;
overflow: hidden;
margin: auto;
padding-top: 50px;
}
.gopng_index_img07 {
background: url(../img/index/indexNews1.png) -0px -265px no-repeat;
width: 100%;
height: 100%;
display:inline-block;
float:left;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 265px;
_margin-top: -265px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/index/indexNews1.png)");
}
.gopng_index_img22_outer {
height: 118px;
width: 114px;
display: block;
overflow: hidden;
margin: auto;
padding-top: 50px;
}
.gopng_index_img22 {
background: url(../img/index/indexNews1.png) -118px -265px no-repeat;
width: 100%;
height: 100%;
display:inline-block;
float:left;
_background: none;
_padding-left: 118px;
_margin-left: -118px;
_padding-top: 265px;
_margin-top: -265px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/index/indexNews1.png)");
}
.gopng_index_img23_outer {
height: 118px;
width: 116px;
display: block;
overflow: hidden;
margin: auto;
padding-top: 50px;
}
.gopng_index_img23 {
background: url(../img/index/indexNews1.png) -0px -384px no-repeat;
width: 100%;
height: 100%;
display:inline-block;
float:left;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 384px;
_margin-top: -384px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/index/indexNews1.png)");
}
.gopng_index_img25_outer {
height: 118px;
width: 117px;
display: block;
overflow: hidden;
margin: auto;
padding-top: 50px;
}
.gopng_index_img25 {
background: url(../img/index/indexNews1.png) -116px -384px no-repeat;
width: 100%;
height: 100%;
display:inline-block;
float:left;
_background: none;
_padding-left: 116px;
_margin-left: -116px;
_padding-top: 384px;
_margin-top: -384px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/index/indexNews1.png)");
}
.gopng_index_img28_outer {
height: 118px;
width: 117px;
display: block;
overflow: hidden;
margin: auto;
padding-top: 50px;
}
.gopng_index_img28 {
background: url(../img/index/indexNews1.png) -0px -502px no-repeat;
width: 100%;
height: 100%;
display:inline-block;
float:left;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 502px;
_margin-top: -502px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/index/indexNews1.png)");
}
.gopng_index_img06_outer {
height: 118px;
width: 118px;
display: block;
overflow: hidden;
margin: auto;
padding-top: 50px;
}
.gopng_index_img06 {
background: url(../img/index/indexNews1.png) -117px -502px no-repeat;
width: 100%;
height: 100%;
display:inline-block;
float:left;
_background: none;
_padding-left: 117px;
_margin-left: -117px;
_padding-top: 502px;
_margin-top: -502px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/index/indexNews1.png)");
}
.gopng_index_img26_outer {
height: 117px;
width: 112px;
display: block;
overflow: hidden;
margin: auto;
padding-top: 50px;
}
.gopng_index_img26 {
background: url(../img/index/indexNews1.png) -232px -265px no-repeat;
width: 100%;
height: 100%;
display:inline-block;
float:left;
_background: none;
_padding-left: 232px;
_margin-left: -232px;
_padding-top: 265px;
_margin-top: -265px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/index/indexNews1.png)");
}
.gopng_index_img30-1_outer {
height: 117px;
width: 114px;
display: block;
overflow: hidden;
margin: auto;
padding-top: 50px;
}
.gopng_index_img30-1 {
background: url(../img/index/indexNews1.png) -0px -620px no-repeat;
width: 100%;
height: 100%;
display:inline-block;
float:left;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 620px;
_margin-top: -620px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/index/indexNews1.png)");
}
.gopng_index_img29_outer {
height: 117px;
width: 114px;
display: block;
overflow: hidden;
margin: auto;
padding-top: 50px;
}
.gopng_index_img29 {
background: url(../img/index/indexNews1.png) -114px -620px no-repeat;
width: 100%;
height: 100%;
display:inline-block;
float:left;
_background: none;
_padding-left: 114px;
_margin-left: -114px;
_padding-top: 620px;
_margin-top: -620px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/index/indexNews1.png)");
}
.gopng_index_img30_outer {
height: 117px;
width: 115px;
display: block;
overflow: hidden;
margin: auto;
padding-top: 50px;
}
.gopng_index_img30 {
background: url(../img/index/indexNews1.png) -228px -620px no-repeat;
width: 100%;
height: 100%;
display:inline-block;
float:left;
_background: none;
_padding-left: 228px;
_margin-left: -228px;
_padding-top: 620px;
_margin-top: -620px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/index/indexNews1.png)");
}
.gopng_index_img24_outer {
height: 117px;
width: 118px;
display: block;
overflow: hidden;
margin: auto;
padding-top: 50px;
}
.gopng_index_img24 {
background: url(../img/index/indexNews1.png) -0px -737px no-repeat;
width: 100%;
height: 100%;
display:inline-block;
float:left;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 737px;
_margin-top: -737px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/index/indexNews1.png)");
}
.gopng_index_img21_outer {
height: 116px;
width: 115px;
display: block;
overflow: hidden;
margin: auto;
padding-top: 50px;
}
.gopng_index_img21 {
background: url(../img/index/indexNews1.png) -118px -737px no-repeat;
width: 100%;
height: 100%;
display:inline-block;
float:left;
_background: none;
_padding-left: 118px;
_margin-left: -118px;
_padding-top: 737px;
_margin-top: -737px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/index/indexNews1.png)");
}
.gopng_index_img34_outer {
height: 116px;
width: 175px;
display: block;
overflow: hidden;
margin: auto;
padding-top: 50px;
}
.gopng_index_img34 {
background: url(../img/index/indexNews1.png) -0px -854px no-repeat;
width: 100%;
height: 100%;
display:inline-block;
float:left;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 854px;
_margin-top: -854px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/index/indexNews1.png)");
}
.gopng_index_img01_outer {
height: 114px;
width: 113px;
display: block;
overflow: hidden;
margin: auto;
padding-top: 50px;
}
.gopng_index_img01 {
background: url(../img/index/indexNews1.png) -233px -384px no-repeat;
width: 100%;
height: 100%;
display:inline-block;
float:left;
_background: none;
_padding-left: 233px;
_margin-left: -233px;
_padding-top: 384px;
_margin-top: -384px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/index/indexNews1.png)");
}
.gopng_index_img02_outer {
height: 114px;
width: 138px;
display: block;
overflow: hidden;
margin: auto;
padding-top: 50px;
}
.gopng_index_img02 {
background: url(../img/index/indexNews1.png) -175px -854px no-repeat;
width: 100%;
height: 100%;
display:inline-block;
float:left;
_background: none;
_padding-left: 175px;
_margin-left: -175px;
_padding-top: 854px;
_margin-top: -854px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/index/indexNews1.png)");
}
.gopng_index_img04_outer {
height: 112px;
width: 110px;
display: block;
overflow: hidden;
margin: auto;
padding-top: 50px;
}
.gopng_index_img04 {
background: url(../img/index/indexNews1.png) -235px -502px no-repeat;
width: 100%;
height: 100%;
display:inline-block;
float:left;
_background: none;
_padding-left: 235px;
_margin-left: -235px;
_padding-top: 502px;
_margin-top: -502px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/index/indexNews1.png)");
}
.gopng_index_img05_outer {
height: 85px;
width: 137px;
display: block;
overflow: hidden;
margin: auto;
padding-top: 50px;
}
.gopng_index_img05 {
background: url(../img/index/indexNews1.png) -0px -970px no-repeat;
width: 100%;
height: 100%;
display:inline-block;
float:left;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 970px;
_margin-top: -970px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/index/indexNews1.png)");
}
.gopng_index_img27_outer {
height: 84px;
width: 139px;
display: block;
overflow: hidden;
margin: auto;
padding-top: 50px;
}
.gopng_index_img27 {
background: url(../img/index/indexNews1.png) -137px -970px no-repeat;
width: 100%;
height: 100%;
display:inline-block;
float:left;
_background: none;
_padding-left: 137px;
_margin-left: -137px;
_padding-top: 970px;
_margin-top: -970px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="../img/index/indexNews1.png)");
}